body {
    /*min-width: 380px;*/
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

/** {
    border: 1px solid yellow;
}*/


                                                            /*header*/
.header {
    display: block;
    width: 100%;
}

.header_container {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.left_side {
    margin-right: 200px;
    display: inline-block;
    /*float: left;*/
    width: 280px;
    /*height: 120px;*/
}

.logo {
    margin-top: 35px;
}

.right_side {
    position: relative;
    vertical-align: top;
    display: inline-block;
    height: 120px;
    /*float: right;*/

}

.numbers {
    margin-top: 30px;
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    height: 78px;
    /*float: right;*/
    width: 200px;
}



.numbers_second {
    display: block;
    margin: 0 auto;
}

.numbers_first {
    display: block;
    margin: 0 auto;
}

.phone {
    display: inline-block;
    margin: 28px 20px 20px 20px;
    height: 65px;
   /*float: right;*/
    width: 150px;
    background-color:  #4399ec;
    border-radius: 5px;
    border-bottom: solid #377fc4 4px;
    transition: background, border linear .1s;
}

.phone:hover {
    background: #1f78e4;
    border-bottom: solid #155aae 4px;
}

.bucket {
    top: -10px;
    position: relative;
    display: inline-block;
    height: 65px;
    /*float: right;*/
    width: 150px;
    border-bottom: solid #df3b3b 4px;
    background: #ff4646;
    border-radius: 5px;
    transition: background, border linear .1s;
}

.bucket:hover {
    border-bottom: solid #d60101 4px;
    background: #ff1010;
}


.menu {
    box-shadow: 2px 2px 4px 4px #b2b0b1;
    position: relative;
    display: block;
    background-color:  #4399ec;
    width: 100%;
}

.menu_adaptive {
    display: none;
}

.hamburger {
    display: none;
}

.io {
    display: none;
    text-align: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.footer_nav_link img{
}

.phone_text {
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
}

.bucket_text {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    margin-top: 25px;
}

.bucket_img {
    display: inline-block;
}
                                                        /*navigation menu*/

.menu_list {
    text-align: right;
    margin-top: 0;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    list-style: none;
    padding: 0;
    color: #fff;
}

.menu_wrapper {
    width: 1050px;
    margin: 0 auto;
}

.nav{
    color: #fff;
    text-decoration: none;
}

.menu_list li {
    position: relative;
    padding: 20px 10px;
    display: inline-block;
}

.nav:hover {
    text-decoration: underline;
}

                                                                /*content*/

.slides_list {
    text-align: center;
    margin: 120px auto 0;
}

.top_slide {
    height: 550px;
    box-shadow: 0 4px 4px 4px #d6d4d5;
}

.top_slider_with_dot {
    padding-left: 0;
}

.top_slider_with_dot_list {
    display: none;
}

.left_part {
    vertical-align: top;
    display: inline-block;
    width: 450px;
}

.right_part {
    display: inline-block;
    width: 450px;
}

.left_part_header {
    margin-bottom: 60px;
    color:  #3a3a3a;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
}

.left_part_text {
    margin-bottom: 90px;
    color:  #242424;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.slider_button {
    position: relative;
    text-align: left;
    text-decoration: none;
    color: #fff;
    width: 360px;
}

.slider_button_div {
    box-shadow: inset 0 3px 1px 1px #86bbec;
    border-radius: 3px;
    line-height: 70px;
    font-family: OpenSans, sans-serif;
    top: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background-color: #4399ec;
    width: 360px;
    height: 67px;
    letter-spacing: 2px;
    transition: linear .1s;
}

.slider_button_div:hover {
    box-shadow: inset 0 2px 1px 1px #ff627b;
    background-color:  #df3b3b;
}

.dots_container {
    text-align: center;

}

.active_dot {
    background: url(../images/slide1r.png) no-repeat !important;
    margin-top: 25px;
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 24px;
}

.dot {
    width: 25px;
    height: 24px;
    background: url(../images/slider2.png) no-repeat;
    margin-top: 25px;
    cursor: pointer;
    display: inline-block;
}

.dot:last-child {
    display: inline-block;
    margin-left: 10px;
}

.active_dot:last-child {
    display: inline-block;
    margin-left: 10px;
}

                                                                /*service*/

.service {
    box-shadow: 4px 0 2px 4px #cac8c9;
    /*margin-top: 100px;*/
    background: url(../images/back1.jpg) no-repeat center left;
    background-size: cover;
    text-align: center;
}

.service_item {
    margin-bottom: 100px;
    padding: 0 20px;
    display: inline-block;
}

.main_header_service {
    margin-bottom: 50px;
    padding-top: 60px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.8px;
    color: #7f7f7f;
}

.service_header {
    margin-bottom: 50px;
    top: 50px;
    color: #7f7f7f;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.8px;
    display: block;
    /*width: 167px;*/
}

.service_text {
    margin: 80px auto 0;
    color:  #3a3a3a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    display: block;
    width: 180px;
}

.service_img_sold {
    margin: 0 auto;
    display: block;
    background: url(../images/servis1.png) no-repeat;
    background-size: cover;
    width: 100px;
    height: 93px;
    transition: linear .1s;
}

.service_img_sold:hover {
    background: url(../images/servis1.1.png) no-repeat;
    background-size: cover;
    width: 100px;
    height: 93px
}

.service_img_build {
    margin: 0 auto;
    display: block;
    background: url(../images/servis2.2.png) no-repeat;
    background-size: cover;
    width: 100px;
    height: 93px;
    transition: linear .1s;
}

.service_img_build:hover {
    background: url(../images/servis2.png) no-repeat;
    background-size: cover;
    width: 100px;
    height: 93px
}

.service_img_service {
    margin: 0 auto;
    display: block;
    background: url(../images/servis3.png) no-repeat;
    background-size: cover;
    width: 100px;
    height: 93px;
    transition: linear .1s;
}

.service_img_service:hover {
    background: url(../images/servis3.3.png) no-repeat;
    background-size: cover;
    width: 100px;
    height: 93px
}

                                                                /*aboutus*/

.aboutus {
    background-color: #4399ec;
    box-shadow: 2px 2px 4px 4px #b2b0b1;
}

.aboutus_wrapper {
    text-align: center;
    background: url(../images/abautas.png) no-repeat center bottom;
}

.aboutus_header {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.8px;
    color:  #FFF;
}

.aboutus_left {
    display: inline-block;
    padding: 10px 200px 10px 0;
}

.aboutus_right {
    display: inline-block;
    padding: 10px 0 10px 200px;
}

.aboutus_text {
    padding: 20px;
    color:  #434242;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 80px;
    border-radius: 10px;
    background-color:  rgba(255, 255, 255, 0.76);
    box-shadow: 4px 7px 5px 0px rgba(88, 45, 45, 0.51);
    width: 340px;
}

                                                        /*item_slider*/
.item_slider {
    text-align: center;
    position: relative;
}

.item_slider_list {
    position: relative;
    padding-left: 0;
    list-style: none;
}

.carusel_hider {
    margin: 0 auto 50px;
    width: 1000px;
    overflow: hidden;
}

.carusel_item {
    text-align: left;
    float: left;
    width: 200px;
    padding: 20px 60px;
}

.item_slider_header {
    width: 200px;
    font-family: OpenSans, sans-serif;
    margin-bottom: 40px;
    color:  #2070bc;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.item_slider_description {
    text-align: left;
}

.description_list {
    padding-left: 0;
    padding-top: 30px;
    list-style: none;
    margin-bottom: 20px;
}

.description_list li{
    padding: 0 0 10px 0;
}

.item_slider_button_div {
    box-shadow: inset 0 2px 1px 1px #86bbec;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    background-color:  #4288cc;
    width: 224px;
    height: 54px;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: linear .1s;
}

.item_slider_button {
    text-decoration: none;
    color: #fff;
}

.item_slider_button:hover .item_slider_button_div{
    box-shadow: inset 0 2px 1px 1px #ff627b;
    background-color:  #df3b3b;
}

.arrow_left {
    z-index: 9999;
    cursor: pointer;
    background: url(../images/left_arrow_catalog.png) no-repeat;
    width: 37px;
    height: 37px;
    position: absolute;
    top: 45%;
    left: 50px;
}

.arrow_left:hover {
    cursor: pointer;
    background: url(../images/left_arrow1_catalog.png) no-repeat;
    width: 37px;
    height: 37px;
    position: absolute;
    top: 45%;
    right: 50px;
}

.arrow_right {
    z-index: 9999;
    cursor: pointer;
    background: url(../images/right_arrow_catalog.png) no-repeat;
    width: 37px;
    height: 37px;
    position: absolute;
    top: 45%;
    right: 50px;
 }

.arrow_right:hover {
    cursor: pointer;
    background: url(../images/right_arrow1_catalog.png) no-repeat;
    width: 37px;
    height: 37px;
    position: absolute;
    top: 45%;
    right: 50px;
}                                                     /*garden*/

.garden {
    background: url(../images/back2.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    /*box-shadow: 2px 2px 4px 4px #b2b0b1;*/
}

.garden_service_item {
    padding: 0 20px;
    vertical-align: top;
    min-width: 190px;
    text-align: center;
}

.garden_text {
    color:  #525252;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}


.service_number {
    /*width: 180px;*/
    color:  #383838;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2.7px;
}

.service_garden {
    color:  #383838;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.35px;
    line-height: 24px;
    margin-top: 10px;
}

.garden_img {
    margin: 0 auto;
    display: block;
    transition: linear .1s;
    width: 163px;
    height: 134px;
}

.paper {
    background: url(../images/How_we_are_working_1.png) no-repeat;
    background-size: cover;
    width: 100px;
    height: 92px;
}

.headphone {
    background: url(../images/How_we_are_working_2.png) no-repeat;
    background-size: cover;
    width: 100px;
    height: 92px;
}

.truck {
    background: url(../images/How_we_are_working_3.png) no-repeat;
    background-size: cover;
    width: 100px;
    height: 92px;
}

.tools {
    background: url(../images/How_we_are_working_4.png) no-repeat;
    background-size: cover;
    width: 100px;
    height: 90px;
}

.header_black {
    color:  #3a3a3a;
}

                                                                /*delivery*/

.delivery {
    text-align: center;
    vertical-align: top;
}

.delivery_right {
    width: 500px;
    display: inline-block;
    vertical-align: top;
}

.delivery_left {
    display: inline-block;
    width: 500px;
}

.delivery_container_image_car {
    cursor: pointer;
    background: url(../images/delivery_kiev.png) no-repeat center center;
    background-size: cover;
    width: 108px;
    height: 99px;
    display: inline-block;
    vertical-align: middle;
}

.delivery_container_image_car:hover {
    background: url(../images/delivery_kiev1.png) no-repeat center center;
}

.delivery_container_image_country {
    cursor: pointer;
    background: url(../images/delivery_uk.png) no-repeat center center;
    background-size: cover;
    width: 108px;
    height: 99px;
    display: inline-block;
    vertical-align: middle;
}

.delivery_container_image_country:hover {
    background: url(../images/delivery_uk1.png) no-repeat center center;
}

.delivery_container_image_house {
    cursor: pointer;
    background: url(../images/delivery_Pickup.png) no-repeat center center;
    background-size: cover;
    width: 108px;
    height: 99px;
    display: inline-block;
    vertical-align: middle;
}

.delivery_container_image_house:hover {
    background: url(../images/delivery_Pickup1.png) no-repeat center center;
}

.delivery_container_image_cash {
    cursor: pointer;
    background: url(../images/paymen1t.png) no-repeat center center;
    background-size: cover;
    width: 108px;
    height: 99px;
    display: inline-block;
    vertical-align: middle;
}

.delivery_container_image_cash:hover {
    background: url(../images/payment.png) no-repeat center center;
}

.delivery_container_image_card {
    cursor: pointer;
    background: url(../images/payment2.png) no-repeat center center;
    background-size: cover;
    width: 108px;
    height: 99px;
    display: inline-block;
    vertical-align: middle;
}

.delivery_container_image_card:hover {
    background: url(../images/payment2.2.png) no-repeat center center;
}

.delivery_container_text {
    vertical-align: middle;
    margin-left: 25px;
    width: 300px;
    display: inline-block;
    color:  #696969;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.delivery_header {
    padding-top: 40px;
    padding-bottom: 20px;
    color:  #696969;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

.delivery_wrapper {
    display: inline-block;
    vertical-align: top;
}

.delivery_container {
    padding: 20px 0;
}

.last {
    padding-top: 120px;
}

/*.first {
    padding-top: 100px;
}*/

                                                                    /*face*/

.face {
    margin-top: 70px;
    text-align: center;
    background-color:  #4399ec;
    position: relative;
    box-shadow: 2px 2px 4px 4px #b2b0b1;
}

.face_slide {
    float: left;
    display: inline-block;
    width: 400px;
    padding: 60px;
}

.face_slider {
    padding-left: 0;
    position: relative;
    list-style: none;
}

.face_hider {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.arrow_left_face {
    cursor: pointer;
    background: url(../images/leftt_arrow1_reviews.png) no-repeat;
    width: 37px;
    height: 37px;
    position: absolute;
    top: 28%;
    left: 50px;
}

.arrow_left_face:hover {
    background: url(../images/leftt_arrow_reviews.png) no-repeat;
}

.arrow_right_face {
    cursor: pointer;
    background: url(../images/right_arrow1_reviews.png) no-repeat;
    width: 37px;
    height: 37px;
    position: absolute;
    top: 28%;
    right: 50px;
}

.arrow_right_face:hover {
    background: url(../images/right_arrow_reviews.png) no-repeat;
}

.face_img img{
    padding-right: 60px;
}


.face_name {
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.face_text {
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

                                                            /*sub_face*/

.sub_face {
    background: url(../images/back_footer.png) no-repeat center bottom;
    background-size: cover;
    text-align: center;
    box-shadow: 2px 2px 4px 4px #b2b0b1;
}

.sub_face_text {
    margin-top: 65px;
    color:  #4d4d4d;
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    padding: 35px;
}

.sub_face_button {
    box-shadow: inset 0 2px 1px 1px #86bbec;
    line-height: 55px;
    text-align: center;
    border-radius: 3px;
    background-color:  #4288cc;
    width: 224px;
    height: 54px;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: linear .1s;
    padding: 15px 70px;
    text-decoration: none;
    color: #fff;
}

.sub_face_button:hover {
    box-shadow: inset 0 2px 1px 1px #ff627b;
    background-color:  #df3b3b;
}

.face_button {
    display: inline-block;
    padding: 0;
    margin-bottom: 80px;
}

                                                            /*footer*/

.footer {
    text-align: center;
}

.footer_logo {
    margin: 0 auto;
    text-align: left;
}

.footer_menu {
    padding: 0 20px;
    width: 500px;
    margin-top: 30px;
    text-align: left;

}

.footer_menu li {
    padding-left: 0;
}

.footer_menu a{
    color:  #4a4a4a !important;
    font-size: 12px;
    letter-spacing: 1.35px;
    padding-left: 0;
    font-weight: bold;
}

.footer_menu a:hover{
    color:  #4399ec !important;
    text-decoration: none !important;
}

.left_side_footer {
    padding: 0 20px;
    display: inline-block;
}

.right_side_footer {
    vertical-align: bottom;
    display: inline-block;
}

.footer_text {
    width: 500px;
    text-align: left;
    color:  #4a4a4a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.about_int {
    width: 500px;
    display: inline-block;
    margin-top: 20px;
    line-height: 90px;
    text-align: left;
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.35px;
}

.footer_list_wrapper {
    display: inline-block;
    margin: 0 auto;
}

.text_left {
    margin-top: 30px;
}

.text_right {
    margin-top: 30px;
}

.footer_wrapper {
    max-width: 1350px;
    text-align: center;
    margin: 0 auto;
}

                                                                /*switcher*/

.display {
    display: block !important;
}

.active::after {
    display: block;
    content: "";
    background: url(../images/SNTJINKA.png) no-repeat center;
    width: 37px;
    height: 20px;
    margin: 0 auto;
}

.visible {
}

                                                                /*popup_phone*/

.popup_phone_input {
    text-indent: 20px;
    transition: text-indent 300ms;
}

.popup_phone_input:focus{
    text-indent: 600px;
}

.popup_phone textarea{
    line-height: 50px;
    text-indent: 20px;
    opacity: 1;
    transition: opacity 300ms;
}


.popup_phone {
    top: 113px;
    right: 0;
    display: none;
    border-top: 5px solid #377cc2;
    border-radius: 9px;
    background: #fff;
    text-align: center;
    z-index: 9999;
    position: absolute;
    box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.41);
    width: 523px;
    height: 388px;
}

.popup_phone:before {
    left: 255px;
    top: -40px;
    position: absolute;
    content: "";
    border: 20px solid transparent;
    border-bottom: 20px solid #377cc2;
}

.popup_phone_input {
    outline: none;
    border-radius: 7px;
    border:1px solid #5d5d5d;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 471px;
    height: 51px;
    margin: 15px auto 0;
    display: block;
    color:  #5d5d5d;
    font-size: 18px;
    letter-spacing: 1.35px;
}

.popup_phone_textarea {
    border-radius: 7px;
    border:1px solid #5d5d5d;
    box-sizing: border-box;
    width: 471px;
    max-width: 471px;
    max-height: 110px;
    margin: 15px auto 0;
    display: block;
    letter-spacing: 2px;
    height: 110px;
}

.popup_phone_textarea::-webkit-input-placeholder {
    font-size: 19px;
    font-family: 'Myriad Pro', sans-serif;
    letter-spacing: 2px;
}
.popup_phone_textarea::-moz-placeholder {
    font-size: 19px;
    font-family: 'Myriad Pro', sans-serif;
    letter-spacing: 2px;
}
.popup_phone_textarea:-moz-placeholder {
    font-size: 19px;
    font-family: 'Myriad Pro', sans-serif;
    letter-spacing: 2px;
}
.popup_phone_textarea:-ms-input-placeholder {
    font-size: 19px;
    font-family: 'Myriad Pro', sans-serif;
    letter-spacing: 2px;
}

.popup_phone_button_inp {
    text-align: center;
    cursor: pointer;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.35px;
    background-color: #4399ec;
    width: 325px;
    height: 51px;
    margin: 40px auto 0;
    display: block;
    border: none;
    outline: none;
    border-radius: 7px;
    transition: linear .1s;
}

.popup_phone_button_inp:hover {
    background-color:  #df3b3b;
}

.show {
    line-height: 30px;
    border-radius: 7px;
    margin: 10px auto 0;
    color: #fff;
    cursor: pointer;
    display: none;
    width: 100px;
    height: 30px;
    background-color: #cec1b6;
}

.show:hover {
    background-color: #9f938a;
}

/*------------------------------------------------------COMMENTS-------------------------------------------------------------*/

.comments {
    text-align: center;
    background: #e4e3e0;
}

.comments_header {
color:  #4399ec;
font-size: 24px;
font-weight: 400;
text-align: left;
}

.right_comments {
    vertical-align: top;
    display: inline-block;
}

.left_comments {
    display: inline-block;
}

.comments_form {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    color: #777674;
    font-weight: bold;
    text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
    border-radius: 10px;
    background-image:
            linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
            linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
            linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
            linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
            linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
            linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.41);

    width: 470px;
    height: 460px;
}

.comments_text {
    width: 600px;
    height: 90px;
}

.comments_text_header {
    color:  #4399ec;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.comments_text_word {
    color:  #6a6969;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}




/*----------------------------------------------------------Object---------------------------------------------------------*/

.object {
    margin: 0 auto;
    max-width: 1310px;
    text-align: center;
}

.object_header {
    text-align: left;
    padding: 70px 0 0 20px;
    color:  #4399ec;
    font-size: 22px;
    font-weight: 400;
}

.object_text {
    text-align: left;
    overflow: hidden;
    line-height: 20px;
    color:  #787979;
    font-size: 18px;
    font-weight: 400;
    margin: 0 20px 20px 20px;
}

.object_read_less {
    display: none;
}

.object_read_more {
    cursor: pointer;
    text-align: right;
    color:  #c7c7c7;
    font-size: 22px;
    font-weight: 400;
    transition: color linear .1s;
}

.object_arrow_more {
    display: inline-block;
    width: 22px;
    vertical-align: bottom;
    background: url(../images/read_more_grey.png) no-repeat center;
    height: 22px;
    transition: background linear .1s;
}

.object_arrow_less {
    display: inline-block;
    width: 22px;
    vertical-align: bottom;
    background: url(../images/read_less_grey.png) no-repeat center;
    height: 22px;
    transition: background linear .1s;
}

.object_read_more:hover .object_arrow_more{
    background: url(../images/read_more_blue_hover.png) no-repeat center;
}

.object_read_less:hover .object_arrow_less {
    background: url(../images/read_more_blue_hover.png) no-repeat center;
}

.object_read_more:hover {
    text-align: right;
    color: #4399ec;
    font-size: 22px;
    font-weight: 400;
}

.object_read_less {
    cursor: pointer;
    text-align: right;
    color:  #c7c7c7;
    font-size: 22px;
    font-weight: 400;
    transition: color linear .1s;
}

.object_read_less:hover {
    text-align: right;
    color: #4399ec;
    font-size: 22px;
    font-weight: 400;
}

.object_block {
    vertical-align: top;
    display: inline-block;
    width: 540px;
}

.object_big_img {
    padding: 20px;
    width: 340px;
    height: 340px;
    display: inline-block;
}

.object_small_img {
    margin-bottom: 25px;
    width: 155px;
    height: 155px;
}

.small_img_block {
    display: inline-block;
}


/*--------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------Backet popup---------------------------------------------------------*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.button_bucket {
    background-color:  #1d8c3d;
    width: 120px;
    padding: 5px;
}
.bucket_img, .sum_bucket {
    display: inline-block;
}
.sum_bucket {
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    margin-left: 15px;
}
.sum_bucket span {
    font-size: 12px;
}

.bucket_olya {
    right: 0;
    border-top: 5px solid #377cc2;
    border-radius: 9px;
    background: #fff;
    box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.41);
    width: 520px;
    position: absolute;
    z-index: 999;
}
.bucket_olya:before {
    position: absolute;
    content: "";
    border: 20px solid transparent;
    border-bottom: 20px solid #377cc2;
    top: -40px;
    right: 50px;
}
.bucket_item {
    border-bottom: 1px solid #b5b5b5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.product_img, .product_description {
    float: left;
}

.product_description {
    margin-left: 30px;
}

.product_img {
    margin-top: 25px;
}

.bucket_close {
    float: right;
}
.product_description_type {
    color:  #6d6d6d;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.product_description_subtype {
    text-align: left;
    color:  #878787;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
.total {
    background-color: #cacaca;
}
.total_item {
    float: right;
    padding-right: 27px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.total_text {
    margin-right: 10px;
    color:  #4e4e4e;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}
.total_price_bucket {
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;

}
.total_price_bucket span{
    font-size: 18px;
    font-weight: 400;
}
.inBucket_button {
    border-radius: 7px;
    font-family: "Arial", sans-serif;
    margin: 0 10px;
    background-color:  #a0a0a0;
    display: inline-block;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    transition: background linear .1s;
}

.inBucket_button:hover {
    background-color:  #df3b3b;
}

.bucket_order {
    border-radius: 7px;
    font-family: "Arial", sans-serif;
    margin: 0 10px;
    background-color: #4399ec;
    display: inline-block;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    transition: background linear .1s;
}

.bucket_order:hover {
    background-color:  #df3b3b;
}

.bucket_button_order {
    padding-top: 14px;
    padding-bottom: 14px;
}
.bucket_button_container {
    margin: auto;
    /*width: 275px;*/
}
.close {
    display: none;
}
.bucket_olya {
    display: none;
}
.dispBlock {
    display: block;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------CONTACTS------------------------------------------------------------*/

.map_container{
    margin-top: 110px;
    text-align: center;
}

#map {
    margin-top: 20px;
    display: inline-block;
    width: 733px;
    height: 394px;
}

.map_legend {
    margin-top: 20px;
    vertical-align: top;
    display: inline-block;
    background-color:  #4399ec;
    width: 436px;
    text-align: left;
}

.map_form {
    margin-top: 100px;
    text-align: center;
}

.map_form_left {
    padding: 0 50px;
    display: inline-block;
}

.map_form_right {
    padding: 0 50px;
    vertical-align: top;
    display: inline-block;
}

.map_input {
    outline: none;
    margin-bottom: 40px;
    border-radius: 5px;
    display: block;
    border: solid 1px #aeaeae;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 540px;
    height: 46px;
    font-size: 16px;
    font-weight: 400;
    text-indent: 20px;
}

.map_input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     text-indent: 20px;
     transition: text-indent 300ms;
 }
.map_input::-moz-placeholder { /* Firefox 19+ */
    text-indent: 20px;
    transition: text-indent 300ms;
}
.map_input:-ms-input-placeholder { /* IE 10+ */
    text-indent: 20px;
    transition: text-indent 300ms;
}
.map_input:-moz-placeholder { /* Firefox 18- */
    text-indent: 20px;
    transition: text-indent 300ms;
}

.map_input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-indent: -150px;
}
.map_input:focus::-moz-placeholder { /* Firefox 19+ */
    text-indent: -150px;
}
.map_input:focus:-ms-input-placeholder { /* IE 10+ */
    text-indent: -150px;
}
.map_input:focus:-moz-placeholder { /* Firefox 18- */
    text-indent: -150px;
}

.map_textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    line-height: 40px;
    text-indent: 20px;
    transition: text-indent 300ms;
}
.map_textarea::-moz-placeholder { /* Firefox 19+ */
    text-indent: 20px;
    transition: text-indent 300ms;
}
.map_textarea:-ms-input-placeholder { /* IE 10+ */
    text-indent: 20px;
    transition: text-indent 300ms;
}
.map_textarea:-moz-placeholder { /* Firefox 18- */
    text-indent: 20px;
    transition: text-indent 300ms;
}

.map_textarea:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-indent: -150px;
}
.map_textarea:focus::-moz-placeholder { /* Firefox 19+ */
    text-indent: -150px;
}
.map_textarea:focus:-ms-input-placeholder { /* IE 10+ */
    text-indent: -150px;
}
.map_textarea:focus:-moz-placeholder { /* Firefox 18- */
    text-indent: -150px;
}

.map_textarea {
    line-height: 40px;
    outline: none;
    border-radius: 5px;
    border: solid 1px #aeaeae;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 530px;
    height: 218px;
    text-indent: 20px;
    transition: text-indent 300ms;
    font-size: 18px;
    font-weight: 400;
}

.legend_content {
    padding: 33px;
    display: block;
}

.legend_img {
    display: inline-block;
}

.legend_text_first {
    line-height: 30px !important;
}

.legend_text {
    max-width: 290px;
    width: 290px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    vertical-align: top;
    line-height: 4;
    display: inline-block;
}

.map_form_wrapper {
    display: block;
}

.map_button_wrapper {
    margin-top: 30px;
    text-align: right;
}

.map_form_button_red {
    text-align: center;
    line-height: 45px;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin:0 2px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #ff4646;
    display: inline-block;
    width: 140px;
    height: 45px;
    border-bottom: solid #df3b3b 4px;
    transition: background linear .1s, border linear .1s;
}

.map_form_button_red:hover {
    border-bottom: solid #d60101 4px;
    background: #ff1010;
}

.map_form_button_blue {
    text-align: center;
    line-height: 45px;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin:0 2px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #4399ec;
    display: inline-block;
    width: 140px;
    height: 45px;
    border-bottom: solid #377fc4 4px;
    transition: background linear .1s, border linear .1s;
}

.map_form_button_blue:hover {
    background: #1f78e4;
    border-bottom: solid #155aae 4px;
}

/*---------------------------------------------------------Items-----------------------------------------------------------*/

.item_container {
    margin: 0 auto;
    text-align: center;
    max-width: 1310px;
}

.nav_list_item {
    padding: 0 10px;
    background: #fff;
    cursor: pointer;
    margin: 20px 20px 0 0;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 10px;
    color:  #4399ec;
    font-size: 18px;
    line-height: 33px;
    font-weight: 700;
    transition: background linear .2s;
}

.nav_list_item:hover {
    padding: 0 10px;
    text-align: center;
    line-height: 33px;
    border-radius: 10px;

    background: #4399ec;
    color: #fff;
}

.active_nav {
    padding: 0 10px;
    text-align: center;
    line-height: 33px;
    border-radius: 10px;
    height: 30px;
    background: #4399ec;
    color: #fff;
}

.nav_list {
    /*padding-left: 300px;*/
    text-align: left;
    list-style: none;
}

.item_card_wrapper {
    width: 1000px;
    display: inline-block;
}

.item_block {
    margin: 10px 6px;
    text-align: left;
    display: inline-block;
    border-radius: 10px;
    border: solid 2px #4399ec;
    background-color:  #ffffff;
    width: 300px;
}

.item_img {
    text-align: center;
}

.item_description_list {
    padding-left: 20px;
    list-style: none;
    color:  #626262;
    font-size: 14px;
    font-weight: 400;
}

.item_article {
    padding: 5px 0;
    display: block;
}

.item_header {
    padding: 0 0 0 20px;
    color:  #4399ec;
    font-size: 20px;
    font-weight: 400;
}

.item_price {
    margin: 10px;
    display: inline-block;
    color:  #ff4646;
    font-size: 22px;
    font-weight: 700;
}

.item_button {
    cursor: pointer;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 5px;
    background-color:  #4399ec;
    border-bottom: solid #377fc4 4px;
    width: 140px;
    height: 40px;
    transition: background linear .1s, border linear .1s;
}

.item_button:hover {
    background-color:  #ff4646;
    border-bottom: solid #df3b3b 4px;
}

.item_bottom {
    margin-bottom: 10px;
    text-align: center;
}

.left_filter {
    vertical-align: top;
    display: inline-block;
    width: 300px;
    background: green;
    height: 600px;
}

.item_sub_footer {
    margin: 20px auto;
    padding: 10px;
    display: block;
    text-align: left;
    max-width: 1310px;
    color:  #626262;
    font-size: 18px;
    font-weight: 400;
}

.item_sub_footer_text {
    padding: 20px;
}

.item_sub_footer_line {
    margin-bottom: 40px;
    border-top: solid 2px #4399ec;
}

.line_podval {
    margin-top: 40px;
}

/*--------------------------------------------------------popup-----------------------------------------------------------*/
.popup {
    display: none;
    z-index: 99999;
    top: 22%;
    left: 50%;
    margin-left:-450px;
    position: fixed;
    font-size: 16px;
    border-radius: 10px;
    width: 900px;
    height: 437px;
    background: #fff;
}

.popup_img {
    margin: 30px 20px 20px 20px;
    display: inline-block;
}

.right_side_popup {
    vertical-align: top;
    display: inline-block;
}

.right_side_popup_header {
    text-align: left;
    margin-top: 40px;
    color:  #499def;
    font-size: 30px;
    font-weight: 700;
}

.right_side_popup_article {
    margin-top: 5px;
    text-align: left;
    color:  #969696;
    font-size: 18px;
    font-weight: 400;
}

.right_side_popup_price {
    margin-top: 40px;
    text-align: left;
    color:  #969696;
    font-size: 22px;
    font-weight: 400;
}

.build_price {
    margin-top: 10px;
    text-align: left;
    color:  #969696;
    font-size: 18px;
    font-weight: 400;
}

.right_side_popup_build {
    margin-top: 50px;
    text-align: left;
}

.build_left {
    text-align: left;
    display: inline-block;
    color:  #969696;
    font-size: 18px;
    font-weight: 400;
}

.build_right {
    display: inline-block;
}

.build_button {
    display: inline-block;
}

.red {
    color:  #ff4646;
    font-size: 24px;
    font-weight: 700;
}

.build_bottom {
    margin-top: 70px;
    text-align: left;
}

.build_number {
    display: inline-block;
    color:  #969696;
    font-size: 18px;
    font-weight: 400;
}

.popup_button {
    width: 200px;
    font-size: 16px;
    font-weight: 400;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.select_build {
    box-sizing: border-box;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none!important;
    background-image: url('../images/select_arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
    outline: none;
    margin: 0 40px;
    width: 130px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #969696;
    color: #499def;
    font-size: 17px;
    font-weight: 400;
    text-indent: 20px;
}

/*select::-ms-expand {
    display: none;
}*/

.build_input_number_field {
    text-indent: 30px;
    width: 70px;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border: solid 1px #969696;
    color:  #499def;
    font-size: 18px;
    font-weight: 400;
}

.build_input_number {
    display: inline-block;
}

.popup_wrapper {
    z-index: 99999;
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background: rgba(14, 14, 14, 0.82);
}

.exit {
    cursor: pointer;
    position: absolute;
    width: 41px;
    height: 41px;
    background: url(../images/exit.png) no-repeat center;
    background-size: cover;
    right: -20px;
    top: -20px;
    transition: background linear .1s;
}

.exit:hover {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url(../images/exit_hover.png) no-repeat center;
    background-size: cover;
}
/*-------------------------------------------------------------------------------------------------------------------*/

                                                                    /*adaptive*/
@media (max-width: 1323px) {

    .item_card_wrapper {
        width: 700px;
    }

}

@media (max-width: 1178px) {

    .aboutus_right {
        padding: 0 20px;
    }

    .aboutus_left {
        padding: 0 20px;
    }

    .slider_img img{
        width: 350px;
    }

    .right_part {
        width: 350px;
    }

    .left_part {
        width: 350px;
    }

}


@media (max-width: 1090px) {

    .item_card_wrapper {
        width: 350px;
    }

    .arrow_right {
        right: 10px;
    }

    .arrow_left {
        left: 10px;
    }

    .arrow_right:hover {
        right: 10px;
    }

    .arrow_left:hover {
        left: 10px;
    }
}

@media (max-width: 1059px) {
    .menu_wrapper {
        width: 750px;
    }

    .nav_list {
        padding-left: 20px;
        text-align: center;
    }
}

@media (max-width: 1015px) {

    .popup {
        top: 12%;
        margin-left: -225px;
        width: 450px;
        height: auto;
    }

    .popup_img {
        margin: 10px;
    }

    .popup_img img {
        width: 250px;
    }

    .right_side_popup_header {
        margin-top: 0;
        font-size: 16px;
    }

    .right_side_popup_article, .build_left, .build_number, .right_side_popup_price, .right_side_popup_build, .build_price, .build_bottom {
        font-size: 14px;
    }

    .build_bottom {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .right_side_popup_price {
        margin-top: 10px;
    }

    .right_side_popup_build {
        margin-top: 10px;
    }

    .last {
        padding:20px 0;
    }

    .carusel_hider {
        width: 700px;
    }

    .face_hider {
        width: 500px;
    }

    .arrow_right {
        right: 50px;
    }

    .arrow_left {
        left: 50px;
    }

    .arrow_right:hover {
        right: 50px;
    }

    .arrow_left:hover {
        left: 50px;
    }

}


@media (max-width: 810px) {

    .left_side {
        width: 150px;
    }

    .logo {
        width: 150px;
        margin-top: 40px;
        margin-left: 25px;
    }

}

@media (max-width: 780px) {

    .map_form_left {
        padding: 0;
    }

    .map_form_right {
        padding: 0;
    }

    #map {
        width: 430px;
    }

    .menu_adaptive {
        text-align: right;
        margin-top: 90px;
        display: block;
    }

    .io {
        display: block;
    }

    .menu_list_adaptive li{
        text-align: center;
        display: none;
        background: #4399ec;
    }

    .hamburger {
        margin: 0 auto;
        color: #fff;
        cursor: pointer;
        font-size: 35px;
        border: none;
        background: #4399ec;
        width: 80px;
        height: 80px;
        outline: none;
        border-radius: 50%;
        display: block;
        float: right;

    }

    .hamburger:hover {
        background-color:  #df3b3b;
    }

    .menu {
        display: none;
    }

    .right_part {
        display: none;
    }

    .carusel_hider {
        width: 350px;
    }

    .popup_phone {
        right: -90px;
    }

    .popup_phone:before {
        left: 165px;
    }

    .bucket_olya {
        right: -90px;
    }

    .bucket_olya:before {
        right: 145px;
    }

}

@media (max-width: 635px) {

    .map_input {
        width: 250px;
    }

    .map_textarea {
        width: 250px;
    }

    .popup_phone {
        width: 420px;
        right: -45px;
    }

    .popup_phone:before {
        left: 105px;
    }

    .bucket_olya {
        width: 420px;
        right: -45px;
    }

    .bucket_olya:before {
        right: 105px;
    }


    .popup_phone_input {
        width: 370px;
        height: 51px;

    }

    .popup_phone_textarea {
        max-width: 370px;
        max-height: 110px;
        width: 370px;
        height: 110px;
    }

    .arrow_right_face {
        display: none;
    }

    .arrow_left_face {
        display: none;
    }

    .face_slide {
        width: 300px;
    }

    .face_hider {
        width: 420px;
    }


    .left_side_footer {
        width: 300px;
    }

    .footer_text {
        text-align: center;
        width: 300px;
    }

    .about_int {
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 300px;
    }

    .footer_menu {
        display: none;
    }

    .right_side_footer {
        width: 300px;
    }

    .delivery_left {
        width: 300px;
    }

    .delivery_right {
        width: 300px;
    }

    .aboutus_text {
        width: 200px;
    }

    .delivery_container_text {
        text-align: center;
        margin-left: 0;
    }

    .about_int {
        margin-top: 20px;
        line-height: 25px;
    }

    .footer_logo {
        margin-top: 50px;
    }
}


@media (max-width: 565px) {

    .object_block {
        width: 290px;
    }

    .object_big_img img{
        width: 180px;
    }

    .object_big_img{
        padding: 10px;
        height: 180px;
        width: 180px;
    }

    .object_small_img {
        width: 70px;
        height: 70px;
    }

    .object_small_img img{
        width: 70px;
        height: 70px;
    }

    .object_header {
        text-align: center;
        width: auto;
    }

    .object_text {
        text-align: center;
        width: auto;
    }

    .object_arrow_less {
        text-align: center;

    }

    .object_arrow_more {
        text-align: center;

    }

    .object_read_more:hover {
        text-align: center;
    }

    .object_read_less:hover {
        text-align: center;
    }

    .object_read_more {
        text-align: center;
        width: auto;
    }

    .object_read_less {
        text-align: center;
        width: auto;
    }

    /*----*/

    .popup {
        top: 5%;
        margin-left: -140px;
        width: 280px;
        height: auto;
    }

    .exit {
        right: -10px;
        top: -10px;
    }

    .popup_form {
        padding: 10px 10px 10px 15px;
    }


    .build_right {
        margin: 10px 0 0 0;
        display: block;
        text-align: left;
    }

    .select_build {
        margin: 0;
    }

}


@media (max-width: 480px) {

    .legend_img img{
        width: 21px;
    }

    .legend_text {

    }

    .legend_content {
        padding-left: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .legend_text {
        line-height: 1;
        margin: 0 0 0 5px;
        max-width: 290px;
        width: 180px;
    }

    .map_form_button_blue {
        margin: 0;
    }

    .map_form_button_blue {
        margin: 0;
    }

    #map {
        margin-top: 50px;
        width: 280px;
    }

    .map_legend {
        width: 280px;
    }

    .hamburger {
        margin-top: 0;
    }

    .bucket {
        margin-bottom: 30px;
    }

    .popup_phone_input {
        font-size: 11px;
    }

    .popup_phone_textarea::-webkit-input-placeholder {
        font-size: 11px;
    }
    .popup_phone_textarea::-moz-placeholder {
        font-size: 11px;
    }
    .popup_phone_textarea:-moz-placeholder {
        font-size: 11px;
    }
    .popup_phone_textarea:-ms-input-placeholder {
        font-size: 11px;
    }

    .popup_phone {
        height: 400px;
        top: 0;
        right: 25px;
        width: 280px;
    }

    .bucket_olya {
        top: 0;
        right: 25px;
        width: 280px;
    }

    .bucket_olya:before {
        display: none;
    }

    .item_slider {
        display: none;
    }

    .show {
        display: block;
    }

    .popup_phone_input {

        width: 230px;
        height: 51px;

    }

    .popup_phone_button_inp {
        width: 250px;
    }

    .popup_phone_textarea {
        max-width: 230px;
        max-height: 110px;
        width: 230px;
        height: 110px;
    }

    .face_hider {
        width: 200px;
    }

    .service_header {
        margin-top: 10px;
    }

    .service_text {
        margin-top: 20px;
    }

    .arrow_right {
        right: 10px;
    }

    .arrow_left {
        left: 10px;
    }

    .arrow_right:hover {
        right: 10px;
    }

    .arrow_left:hover {
        left: 10px;
    }

    .content {
        display: none;
    }

    .main_header_service {
        width: 200px;
        padding: 0;
        margin: 20px auto 50px;

    }

    .service_item {
        margin-bottom: 40px;
        width: 200px;
        padding: 0;
    }

    .face_slide {
        padding:60px 0;
        width: 200px;
    }

    .face_img img {
        padding: 0;
        width: 200px;
    }

    .left_side_footer {
        width: 200px;
    }

    .footer_text {
        width: 200px;
    }

    .about_int {
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 200px;
    }


    .right_side_footer {
        width: 200px;
    }

    .about_int {
        margin-top: 20px;
        line-height: 25px;
    }

    .delivery_container_text {
        width: 200px;
    }

    .carusel_hider {
        width: 200px;
    }

    .carusel_item {
        padding: 0;
    }

    .item_slider_image img{
        width: 200px;
    }

    .sub_face_button {
        padding: 15px 50px
    }

    .face_button {
        padding: 0;
    }

    .delivery_container {
        width: 200px;
    }

    .delivery_right {
        width: 200px;
    }

    .delivery_left {
        width: 200px;
    }

    .last {
        width: 200px;
    }

    .first {
        width: 200px;
    }

    .delivery_container_text {
        margin: 20px auto;
        text-align: center;
    }

    .popup_phone::before {
        display: none;
    }

    .hamburger {

        margin: -20px auto 50px;
    }
}

@media (max-width: 380px) {

    .menu_adaptive {
        margin-top: 180px;
    }

    .left_filter {
        width: 250px;
    }

    .logo {
        margin-right: 0;
    }

    .item_card_wrapper {
        width: 280px;
    }

    .item_block {
        width: 250px;
    }

}
