html {
    margin-top: -3%;
}

body {
    margin: 0 auto;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

 /*-----------------------*/
.slider_list {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 960px;
}

.header {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

 .client_description {
     color: #a0a0a0;
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 170px;
     background: rgba(42, 42, 42, 0.75);
 }

                                                        /*description button*/

.fb, .tw, .g, .in {
    display: inline-block;
    font: normal normal normal 13px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}

.icon_link {
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 26px;
    margin-left: 5px;
    border-radius: 4px;
    color: #e0e0e0;
    background-color: rgba(255,255,255,0.3);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.fb:before {
    content: "\f09a";
}

.icon_list_item:first-child a:hover {
    background-color: #00acc1;
}

.tw:before {
    content: "\f099";
}

.icon_list_item:nth-child(2) a:hover {
    background-color: #4dd0e1;
}

.g:before {
    content: "\f0d5";
}

.icon_list_item:nth-child(3) a:hover {
    background-color: #ef5350;
}

.in:before {
    content: "\f0e1";
}

.icon_list_item:last-child a:hover {
    background-color: #00838f
}

 .slider_item {
     position: absolute;
     width: 100%;
     height: 960px;
 }

 .test {
     width: 80%;
     margin: 0 auto;
 }

 .exit {
     -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
     -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
     box-shadow: 0 0 20px rgba(0, 0, 0, .4);
     border-radius: 50%;
     left: 20px;
     top: 20px;
     z-index: 9999;
     position: fixed;
     width: 50px;
     height: 50px;
     background: rgba(145, 145, 145, 0.7);
     transition: background .3s;
 }

.exit:hover {
    background: rgba(224, 224, 224, 0.7);
}
/*--------------------------------------*/

.arrow {
    opacity: 0.5;
    position: absolute;
    top: 40%;
    width: 54px;
    height: 54px;
    display: none;
    z-index: 1;
    -webkit-transition: opacity 0.2s ;
    -moz-transition: opacity 0.2s ;
    -o-transition: opacity 0.2s ;
    transition: opacity 0.2s ;
    cursor: pointer;
}

 .arrow:hover {
    opacity: 1;

 }

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

span {
    color: #fff;

}

 .client_list li{
     font-size: 18px;
     margin-right: 10px;
     display: inline-block;
 }

 #clock:before {
     content: "";
     display: block;
     background: url(../images/clock.png) no-repeat;
     width: 15px;
     height: 15px;
     float: left;
     margin: 0 4px 0 0;
 }

 #client:before {
      content: "";
      display: block;
      background: url(../images/woman.png) no-repeat;
      width: 15px;
      height: 15px;
      float: left;
      margin: 0 4px 0 0;
  }

 #category:before {
     content: "";
     display: block;
     background: url(../images/paper-list.png) no-repeat;
     width: 15px;
     height: 15px;
     float: left;
     margin: 0 4px 0 0;
 }

 #clock:after {
     content: "/";
     display: block;
     width: 15px;
     height: 15px;
     float: right;
     margin: 0 0 0 5px;
 }

 #client:after {
     content: "/";
     display: block;
     width: 15px;
     height: 15px;
     float: right;
     margin: 0 0 0 5px;
 }

 #category:after {
     content: "/";
     display: block;
     width: 15px;
     height: 15px;
     float: right;
     margin: 0 0 0 5px;
 }

 .client_header {
     height: 100px;
     font-size: 48px;
     position: relative;
     top: 60px;
     color: #fff;
     width: 80%;
 }

.client_list {
    margin-right: 40px;
    margin-top: 70px;
    position: relative;
    display: inline-block;
    padding: 0;
}

.icon_list {
    top: -25px;
    float: right;
    list-style: none;
    position: relative;
    display: inline-block;
    margin: 0;
    margin-left: -7px;
    padding: 0;
}

.icon_list_item:first-child {
    margin-left: 0;
}

.icon_list_item {
    margin-left: 5px;
    float: left;
    width: 25px;
    height: 25px;
}

.client_description_wrapper {
    position: absolute;
    margin: 0 auto;
    width: 98%;
}


 /*content*/

 .content {
     position: relative;
     margin: 0 auto;
     width: 100%;
 }

.flex_container {
    width: 1270px;
    position: relative;
    margin: 0 auto 70px auto;
}


.flex_item_left {
    margin-left: 15px;
    float: left;
    text-align: left;
    width: 500px;

}

.flex_item_right {
    margin: -30px 0 60px 70px;
    float: left;
    text-align: left;
    width: 670px;
}

.flex_item_link {
    color: #000;
    font-size: 24px;
}

.flex_item_link div {
    margin-bottom: 20px;
}

.flex_item_left_text {
    font-size: 14px;
    margin-bottom: 25px;
}

.flex_item_right_img {
    width: 650px;
}

.starq-slider {

    padding: 0;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    width: 100%;

}

.arrow_bottom_slider_left {
    right: 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 60;
    cursor: pointer;
    bottom: 0;
    background: rgba(3, 3, 3, 0.91);
}
.arrow_bottom_slider_right {
    right: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 60;
    cursor: pointer;
    bottom: 0;
    background: rgba(3, 3, 3, 0.91);
}

.arrow_bottom_slider_left:hover {
    background: rgba(52, 52, 52, 0.91);
}

.arrow_bottom_slider_right:hover {
    background: rgba(52, 52, 52, 0.91);
}

.arrow_bottom_slider_img {
    position: absolute;
    top: 12px;
    left: 15px;
    width: 15px;
}


/*footer*/

.footer {
    position: relative;
    display: block;
}

                                                    /*Carusel*/

.starq-slider {
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;

}

.starq-slider .carusel_img {
    display: none;
}

.carusel_item {
    z-index: 55;
    background-color: rgba(0,172,193,0.85);
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 200px;
    position: relative;
    cursor: pointer;
}

.mega_hover {
    transition: opacity .3s;
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 200px;
    position: relative;
    cursor: pointer;
}

.carusel_item:hover .mega_hover {
    opacity: 0.15;
}

.starq-slider .carusel_text {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #eee;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.starq-slider .carusel_list {
    position: relative;
    white-space: nowrap;
    letter-spacing: -0.3em;
    padding: 0;
    margin: 0;
    border-top: 3px solid #fff;
    height: 200px;
}



                                                /*footer*/
.footer {
    position: relative;
    height: 900px;
}

.logo_img {
    margin-top: 230px;
    margin-left: 20px;
}

.logo {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.header_text {
    font-family: "Arial", sans-serif;
    margin-top: 60px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.carusel_item_text_img {
    z-index: 50;
    position: absolute;
    margin: 0 auto;
    width: 57px;
    top: 120px;
    left: 38%;
}



                                                    /*bottom carusel hover*/

.carusel_item_text {
    width: 100%;
    position: absolute;
    top: 25px;
}

.carusel_item_text_header {
    position: relative;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    top: 70px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.carusel_item:hover .carusel_item_text_header {
    -webkit-transform: translate(0,-10px);
    -moz-transform: translate(0,-10px);
    -o-transform: translate(0,-10px);
}

.carusel_item_text_paragraph {
    position: relative;
    font-family: 'Raleway',sans-serif;
    top: 80px;
    font-size: 12px;
    line-height: 13px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.carusel_item:hover .carusel_item_text_paragraph {
    -webkit-transform: translate(0,-10px);
    -moz-transform: translate(0,-10px);
    -o-transform: translate(0,-10px);
}

.fa:before {
    margin-left: 5px;
    text-align: center;
    line-height: 28px;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.mega_hover_link {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: inline-block;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    opacity: 0;
}

.mega_hover_link:hover .fa:before {
    color: rgba(0,172,193,1);
}

.mega_hover_link:hover {
    background: #000;
    border: 2px solid #000;
}

.carusel_item:hover .mega_hover_link:first-child {
    -webkit-transform: translate(30px,0);
    -moz-transform: translate(30px,0);
    -o-transform: translate(30px,0);
    opacity: 1;
}

.carusel_item:hover .mega_hover_link:last-child {
    -webkit-transform: translate(-30px,0);
    -moz-transform: translate(-30px,0);
    -o-transform: translate(-30px,0);
    opacity: 1;
}

.mega_hover_link:first-child {
    margin-right: 60px;
    margin-left: -30px;
}

.footer_container {
    height: 900px;
    opacity: 0.7;
    position: absolute;
    width: 100%;

}

.subheader_text {
    margin: 60px auto 0 auto;
    font-family: "Arial", sans-serif;
    width: 35%;
    text-align: center;
    color: #8c8b8a;
    font-size: 20px;
    line-height: 25px;
}

                                                        /*footer nav*/

.social-media {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.footer_media_nav {
    width: 30%;
    list-style: none;
    margin: 100px auto 0 auto;
    padding: 0;
}

.footer_list:first-child {
   /*margin-left: 15px;*/
}

.footer_media_nav li{
    cursor: pointer;
    width: 44px;
    height: 44px;
    display: inline-block;
    border-radius: 2px;
    font-size: 17px;
    text-align: center;
    line-height: 44px;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}


.footer_media_nav li:hover {
    background-color: #fff;
}

.footer_media_nav li:hover .fa:before{
    color: #303030;
}

.second_fa:before {
    margin-left: 0;
}

.second_list {
    background: none;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

/*content media*/


@media (max-width: 1270px) {

    .flex_item_left {
        float: none;
        margin: 60px auto 70px auto;
    }

    .flex_item_right {
        float: none;
        margin: 0 auto;
    }

    .flex_container {
        width: 900px;
        position: relative;
        margin: 0 auto 170px auto;
    }

}

@media (max-width: 1155px) {

    .carusel_item_text_img {
        z-index: 50;
        position: absolute;
        margin: 0 auto;
        width: 57px;
        top: 120px;
        left: 30%;
    }

    .client_description {
        height: 200px;
    }

    .flex_item_left {
        margin: 100px auto 70px auto;
    }

    .client_list {
        margin-top: 40px;
        margin-bottom: 0;
    }

    .client_list li {
        font-size: 12px;
    }

    .client_header {
        height: 80px;
    }

    .client_description_wrapper {
        margin-left: 10px;
    }
}

@media (max-width: 900px) {

    .starq-slider .carusel_item {
        letter-spacing: normal;
        display: inline-block;
        vertical-align: top;
        width: 20%;
        height: 200px;
        position: relative;
        /*cursor: -webkit-grab;
        cursor: grab;*/
    }

    .footer_media_nav {
        width: 30%;
    }

    .flex_item_left {
        float: none;
        margin: 100px auto 70px auto;
        width: 350px;
    }

    .client_list {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 8px;
    }

    .client_list li {
        margin-top: 5px;
    }

    .icon_list {
        display: block;
    }

    .flex_item_right_img {
        width: 350px;
    }

    .flex_item_right {
        width: 350px;
        float: none;
        margin: 0 auto;
    }

    .flex_container {
        width: 500px;
        position: relative;
        margin: 0 auto 170px auto;
    }

}

@media (max-width: 720px) {

    .footer {
        height: 1300px;
    }

    .footer_container {
        height: 1300px;
    }

    .client_header {
        font-size: 35px;
    }

    .starq-slider {
        display: none;
    }

    .flex_item_left {
        float: none;
        margin: 60px auto 70px auto;
        width: 290px;
    }

    .client_header{
        height: 80px;
    }

    .client_list {
        display: none;
    }

    .icon_list {
        margin-top: 60px;
        display: block;
    }

    .flex_item_right_img {
        width: 290px;
    }

    .flex_item_right {
        width: 290px;
        float: none;
        margin: 0 auto;
    }

    .flex_container {
        width: 290px;
        position: relative;
        margin: 0 auto 60px auto;
    }

}

/*---------------------------------------------------------------------------------------------------*/

@media (max-width: 350px) {

    .starq-slider {
        display: none;
    }

    .flex_container {
        width: 290px;
        position: relative;
        margin: 0 auto 20px auto;
    }

    .slider_item {
        height: 300px;
    }

    .slider_list {
        height: 300px;
    }

    .client_description {
        display: none;
    }

    .client_header {
        text-align:center;
    }

    .client_list li{
        display: none;
    }

    .icon_list li {

        background: white;
    }

    .icon_list a {
        margin: 0;
        text-align: center;
    }

    .icon_list {
        text-align: center;
        margin-right: 60px;
        position: relative;
        margin-top: 40px;
    }

    .flex_item_right {
        width: 290px;
        float: none;
        margin: 0 auto;
    }


    .flex_item_left {
        float: none;
        margin: 20px auto 40px auto;
        width: 290px;
    }
}







